.meson2-container {
  position: relative;
  width: 100%;
  height: fit-content;
}
.meson2-wrapper {
  position: relative;
  width: 100%;
  height: fit-content;
  min-height: 216px;
}
.meson2-absolute-full {
  position: absolute;
  inset: 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  border-radius: 12px;
  background: linear-gradient(to right, #06c17e, #06c1a8);
  color: white;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  background: linear-gradient(to right, #05ae71, #06ae97);
}

.button-pending,
.button-pending:hover,
.button-pending:active {
  cursor: default;
  opacity: 0.4
}

.button-spinner {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}