@mixin screen-lg {
  @media (min-width: 440px) { @content; }
}

@mixin screen-sm {
  @media (max-width: 439px) { @content; }
}

@mixin screen-lg-not-embedded {
  @media (min-width: 440px) {
    :not(.m2__embedded)>& {
      @content;
    }
  }
}

@mixin screen-sm-not-embedded {
  @media (max-width: 439px) {
    :not(.m2__embedded)>& {
      @content;
    }
  }
}


.m2__wrapper {
  position: fixed;
  inset: 0;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-color: #000b;
  transition: background-color 0.4s;

  &.m2__in-transition {
    background-color: transparent;
  }

  &.m2__embedded {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
}

.m2__container {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;

  .m2__embedded>& {
    height: 100%;
  }

  @include screen-lg-not-embedded {
    max-height: 100%;
    overflow-y: auto;
    padding: 24px 0;
  }

  @include screen-sm-not-embedded {
    padding-top: 20px;
    transform: translateY(200px);
    transition: transform 0.4s;
  }

  .m2__in-transition>& {
    @include screen-sm-not-embedded {
      transform: translateY(900px);
    }
  }

  &>.m2__popup {
    position: relative;
    width: 100%;
    flex-shrink: 0;
    opacity: 1;
    transition: opacity 0.25s;

    @include screen-lg {
      .m2__in-transition>& {
        opacity: 0;
      }
    }

    .m2__embedded>& {
      height: 100%;
    }

    :not(.m2__embedded)>& {
      max-width: 440px;
      background: #ecf5f0;
      overflow: hidden;
      box-shadow: 0 0px 24px 0px rgb(0 0 0 / 40%);

      @include screen-lg {
        border-radius: 20px;
      }

      @include screen-sm {
        border-radius: 20px 20px 0 0;
        padding-bottom: 200px;
      }
    }

    &>.m2__loading {
      position: absolute;
      inset: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      &::after {
        content: 'Loading...';
      }

      @include screen-sm-not-embedded {
        height: 592px;
      }
    }

    &>.m2__iframe {
      z-index: 50;
      width: 100%;
      overflow: hidden;
      border: none;
      transition: max-height 0.2s;

      @include screen-lg-not-embedded {
        max-height: 592px;
        height: calc(100vh - 48px);
        margin-top: -8px;
      }
      @include screen-sm-not-embedded {
        max-height: 592px;
        height: calc(100vh - 80px);
      }
    }

    &>.m2__close {
      @include screen-lg-not-embedded {
        &::after {
          content: '×';
          position: absolute;
          top: 12px;
          right: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 16px;
          height: 16px;
          border-radius: 8px;
          font-size: 12px;
          line-height: 12px;
          cursor: pointer;
          color: rgba(255, 255, 255, 0.8);
          background-color: rgb(255, 168, 168);
    
          &:hover {
            color: rgba(255, 255, 255, 0.8);
            background-color: rgb(255, 96, 96);
          }
        }
      }
    }
  }

  &>.m2__bar {
    @include screen-sm-not-embedded {
      z-index: 100;
      position: absolute;
      top: 10px;
      left: calc(50% - 50px);
      cursor: pointer;
      transform: translateZ(10px);
      padding: 20px;

      &::after {
        content: '';
        display: block;
        background: #000;
        height: 4px;
        width: 60px;
        border-radius: 2px;
        overflow: hidden;
      }
    }
  }
}
